.navbar {
    background-color: rgb(38, 46, 52);
    height: 100px;
    font-size: 20px;
    width: 100%;
    font-family: 'Qasbyne', sans-serif;
}

.seal img {
    height: 80px;
    border-radius: 50px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
} 

.links {
   list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
}

.links li a {
    display: block;
    padding:40px 10px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.links li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 40px;
    left: 0;
    background-color: #00ffe7;
    transition: width 0.3s ease;
}

.links li a:hover::after {
    width: 100%;
}

.links li a:hover {
    color: #00ffe7;
    transform: translateY(-10px) ;
}






/* .navbar {
    background-color: rgb(45, 110, 208);
    height: 100px;
    font-size: 20px;
    width: 100%;
    font-family: 'Qasbyne', sans-serif;
} */

/* .navbar ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    
} */

/* .navbar ul li a {
    display: block;
    padding:40px 10px;
    text-decoration:underline;
    color: black;
    
} */

/* .navbar ul li a:hover {
    color: rgb(255, 255, 255);
    transform: translateY(-10px) ;
    width: 80%;
} */
/* 
.seal img {
    height: 80px;
    border-radius: 50px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
} */